* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  footer{
      width: 1152px;
      height: 616px;
     
      
  }
  
  body {
    background-color: #000;
    width: 1349px;
    height: 616px;
    
  }
  
  .contenedor_principal {
    display: flex;
    flex-direction: column;
    
  }
  .contenedor_informacion {
    display: flex;
    border-bottom: 2px solid #f9f9f9;
    width: 90%;
    margin: 0 auto;
    gap: 10px;
  }
  .sobre_nosotros {
    font-weight: 700;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-direction: column;
    padding: 30px;
    padding: 0 16px;
    margin: 48px 0 0;
  }
  .sobre_nosotros h3 {
    text-transform: uppercase;
    color: #d5d5d5;
    font-weight: 700;
    font-size: 10px;
  }
  .lista_nosotros {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
  }
  .necesitas_ayuda {
    line-height: 26px;
    font-weight: 700;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-direction: column;
    padding: 0 16px;
    margin: 48px 0 0;
  }
  .necesitas_ayuda h3 {
    text-transform: uppercase;
    color: #d5d5d5;
    font-weight: 700;
    font-size: 10px;
  }
  .terminos_de_uso {
    font-weight: 700;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    padding: 0 16px;
    margin: 48px 0 0;
  }
  .terminos_de_uso_ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
    align-items: flex-start;
    gap: 20px;
  }
  .contenedor_redes_sociales {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 115%;
    justify-content: space-between;
    padding: 0 16px;
    margin: 48px 0 0;
  }
  .contenedor_secundarioredes {
    display: flex;
    flex-direction: row;
    padding-right: 2.5%;
    justify-content: flex-end;
    padding-top: 50px;
  }
  .button_accesibilidad {
    padding-left: 88%;
    padding-bottom: 50px;
  
  }
  .button_acces {
    width: 32px;
    height: 32px;
    border-radius: 48px;
    background-color: #d5d5d5;
  }
  .img_acces {
    width: 16px;
    height: 16px;
  }
  .contenedor_logo_ubicacion {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 40px 0;
    border-bottom: 2px solid #f9f9f9;
  }
  .footer {
    width: 100%;
    background-color: #000;
  }
  .derechos_reservados {
    color: #fff;
  }
  .h3 {
    color: #fff;
  }
  .contenedor_secundario {
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .button_icono_pais {
    width: 156px;
    height: 40px;
    align-items: center;
    background-color: black;
    border-color: #fff;
    border-radius: 48px;
    border-style: solid;
    border-width: 2px;
    color: #fff;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    justify-content: center;
    line-height: 18px;
    padding: 0px 24px;
  }
  .button_icono_pais a {
    text-decoration: none;
  }
  .button_pais {
    color: #000;
    display: flex;
    flex-basis: 50%;
    justify-content: flex-end;
    line-height: 30px;
    padding: 0px 16px 0px 0px;
  }
  .texto_button {
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    margin: 1px 0px 0px;
  }
  .icono_button {
    vertical-align: middle;
  }
  .button {
    width: 32px;
    height: 32px;
    font-size: 14px;
    align-items: center;
    background-color: black;
    border-color: #fff;
    border-radius: 48px;
    border-style: solid;
    border-width: 2px;
    color: #fff;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    line-height: 14px;
    margin: 0px 0px 0px 16px;
  }
  .derechos_reservados {
      width: 100%;
      height: 18px;
      align-items: flex-start;
      color: #fff;
      display: flex;
      flex-basis: 50%;
      justify-content: flex-end;
      line-height: 26px;
      margin: 48px 0px 0px;
      padding: 0px 16px;
  }
  .p{
      width: 423px;
      height: 18px;
      font-size: 12px;
      line-height: 18px;
  }
  .lista_nosotros a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
  }
  .lista_necesitas_ayuda a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
  }
  .terminos_de_uso_ul a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
  }
  .img {
    color: #fff;
    width: 16px;
    height: 16px;
  }